etladfdemo/PartialArmTemplates/ArmTemplate_9_1_2021_16_34_56.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "etladfdemo"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/salesPipeline')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "TransformData",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "XLSSalesRegister2DB",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "1.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "salesDataFlow",
								"type": "DataFlowReference",
								"datasetParameters": {
									"SalesRegister": {
										"dbName": {
											"value": "@pipeline().parameters.dbName",
											"type": "Expression"
										}
									},
									"itemsOnDB": {
										"dbName": {
											"value": "@pipeline().parameters.dbName",
											"type": "Expression"
										}
									},
									"InvoiceOnDB": {
										"dbName": {
											"value": "@pipeline().parameters.dbName",
											"type": "Expression"
										}
									},
									"InvoiceDetailsOnDB": {
										"dbName": {
											"value": "@pipeline().parameters.dbName",
											"type": "Expression"
										}
									},
									"CustomersOnDB": {
										"dbName": {
											"value": "@pipeline().parameters.dbName",
											"type": "Expression"
										}
									}
								}
							},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "XLSSalesRegister2DB",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ExcelSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								}
							},
							"sink": {
								"type": "AzureMySqlSink",
								"writeBatchSize": 10000,
								"writeBatchTimeout": "00:00:30",
								"preCopyScript": "delete from salesregister;\ndelete from items;\ndelete from salesinvoice;\ndelete from customers;\ndelete from salesinvoicedetails;"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "Date",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Date",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									},
									{
										"source": {
											"name": "Invoice",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Invoice",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Customer",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Customer",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Address",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Address",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Item",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Item",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Qty",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Qty",
											"type": "Single",
											"physicalType": "float"
										}
									},
									{
										"source": {
											"name": "UoM",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "UoM",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Rate",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Rate",
											"type": "Single",
											"physicalType": "float"
										}
									},
									{
										"source": {
											"name": "Gross Amount",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "GrossAmount",
											"type": "Single",
											"physicalType": "float"
										}
									},
									{
										"source": {
											"name": "Tax Rate",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "TaxRate",
											"type": "Single",
											"physicalType": "float"
										}
									},
									{
										"source": {
											"name": "Tax Amount",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "TaxAmount",
											"type": "Single",
											"physicalType": "float"
										}
									},
									{
										"source": {
											"name": "Net Amount",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "NetAmount",
											"type": "Single",
											"physicalType": "float"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false,
									"dateTimeFormat": "yyyy-MM-dd"
								}
							}
						},
						"inputs": [
							{
								"referenceName": "SalesTaxRegisterInput",
								"type": "DatasetReference",
								"parameters": {
									"fileName": {
										"value": "@pipeline().parameters.fileNameSR",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "tabSalesRegister",
								"type": "DatasetReference",
								"parameters": {
									"dbName": {
										"value": "@pipeline().parameters.dbName",
										"type": "Expression"
									}
								}
							}
						]
					},
					{
						"name": "DeleteInputFile",
						"type": "Delete",
						"dependsOn": [
							{
								"activity": "TransformData",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "SalesTaxRegisterInput",
								"type": "DatasetReference",
								"parameters": {
									"fileName": {
										"value": "@pipeline().parameters.fileNameSR",
										"type": "Expression"
									}
								}
							},
							"enableLogging": false,
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							}
						}
					}
				],
				"parameters": {
					"dbName": {
						"type": "string"
					},
					"fileNameSR": {
						"type": "string"
					}
				},
				"folder": {
					"name": "etl"
				},
				"annotations": [],
				"lastPublishTime": "2021-08-31T09:01:40Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/tabSalesRegister')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/tabCustomer')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureMySql1",
					"type": "LinkedServiceReference",
					"parameters": {
						"dbName": {
							"value": "@dataset().dbName",
							"type": "Expression"
						}
					}
				},
				"parameters": {
					"dbName": {
						"type": "string"
					}
				},
				"folder": {
					"name": "etl"
				},
				"annotations": [],
				"type": "AzureMySqlTable",
				"schema": [
					{
						"name": "Customer",
						"type": "varchar",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "Address",
						"type": "varchar",
						"precision": 0,
						"scale": 0
					}
				],
				"typeProperties": {
					"tableName": "customers"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/tabItems')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureMySql1",
					"type": "LinkedServiceReference",
					"parameters": {
						"dbName": {
							"value": "@dataset().dbName",
							"type": "Expression"
						}
					}
				},
				"parameters": {
					"dbName": {
						"type": "string"
					}
				},
				"folder": {
					"name": "etl"
				},
				"annotations": [],
				"type": "AzureMySqlTable",
				"schema": [
					{
						"name": "item",
						"type": "varchar",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "uom",
						"type": "varchar",
						"precision": 0,
						"scale": 0
					}
				],
				"typeProperties": {
					"tableName": "items"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/tabSalesInvoice')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureMySql1",
					"type": "LinkedServiceReference",
					"parameters": {
						"dbName": {
							"value": "@dataset().dbName",
							"type": "Expression"
						}
					}
				},
				"parameters": {
					"dbName": {
						"type": "string"
					}
				},
				"folder": {
					"name": "etl"
				},
				"annotations": [],
				"type": "AzureMySqlTable",
				"schema": [
					{
						"name": "Date",
						"type": "datetime",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "InvoiceNo",
						"type": "varchar",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "Customer",
						"type": "varchar",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "TotalGrossAmount",
						"type": "decimal",
						"precision": 10,
						"scale": 2
					},
					{
						"name": "TotalTaxAmount",
						"type": "decimal",
						"precision": 10,
						"scale": 2
					},
					{
						"name": "TotalNetAmount",
						"type": "decimal",
						"precision": 10,
						"scale": 2
					}
				],
				"typeProperties": {
					"tableName": "salesinvoice"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/tabSalesInvoiceDetails')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureMySql1",
					"type": "LinkedServiceReference",
					"parameters": {
						"dbName": {
							"value": "@dataset().dbName",
							"type": "Expression"
						}
					}
				},
				"parameters": {
					"dbName": {
						"type": "string"
					}
				},
				"folder": {
					"name": "etl"
				},
				"annotations": [],
				"type": "AzureMySqlTable",
				"schema": [
					{
						"name": "id",
						"type": "int",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "InvoiceNo",
						"type": "varchar",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "Item",
						"type": "varchar",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "Qty",
						"type": "decimal",
						"precision": 10,
						"scale": 2
					},
					{
						"name": "UoM",
						"type": "varchar",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "Rate",
						"type": "decimal",
						"precision": 10,
						"scale": 2
					},
					{
						"name": "GrossAmount",
						"type": "decimal",
						"precision": 10,
						"scale": 2
					},
					{
						"name": "TaxRate",
						"type": "decimal",
						"precision": 10,
						"scale": 2
					},
					{
						"name": "TaxAmount",
						"type": "decimal",
						"precision": 10,
						"scale": 2
					},
					{
						"name": "NetAmount",
						"type": "decimal",
						"precision": 10,
						"scale": 2
					}
				],
				"typeProperties": {
					"tableName": "salesinvoicedetails"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/tabSalesRegister')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureMySql1",
					"type": "LinkedServiceReference",
					"parameters": {
						"dbName": {
							"value": "@dataset().dbName",
							"type": "Expression"
						}
					}
				},
				"parameters": {
					"dbName": {
						"type": "string"
					}
				},
				"folder": {
					"name": "etl"
				},
				"annotations": [],
				"type": "AzureMySqlTable",
				"schema": [
					{
						"name": "Date",
						"type": "datetime",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "Invoice",
						"type": "varchar",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "Customer",
						"type": "varchar",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "Address",
						"type": "varchar",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "Item",
						"type": "varchar",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "Qty",
						"type": "float",
						"precision": 0,
						"scale": 2
					},
					{
						"name": "UoM",
						"type": "varchar",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "Rate",
						"type": "float",
						"precision": 0,
						"scale": 2
					},
					{
						"name": "GrossAmount",
						"type": "float",
						"precision": 0,
						"scale": 2
					},
					{
						"name": "TaxRate",
						"type": "float",
						"precision": 0,
						"scale": 2
					},
					{
						"name": "TaxAmount",
						"type": "float",
						"precision": 0,
						"scale": 2
					},
					{
						"name": "NetAmount",
						"type": "float",
						"precision": 0,
						"scale": 2
					}
				],
				"typeProperties": {
					"tableName": "salesregister"
				}
			},
			"dependsOn": []
		}
	]
}